@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

main {
  flex: 1;
  width: 100%;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0.5rem;
  }
}
